.edit {
    background-image: url(/src/Buttonsalt/pencil.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    color: transparent;
    border: none;
    background-color: transparent;
    width: 1em;
    filter: invert(100%);
}

.del {
    background-image: url(/src/Buttonsalt/trash.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    font-size: 2rem;
    color: transparent;
    border: none;
    background-color: transparent;
    width: 1em;
    filter: invert(100%);
}

.save {
    background-image: url(/src/Buttonsalt/save.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    font-size: 2rem;
    color: transparent;
    border: none;
    background-color: transparent;
    width: 1em;
    filter: invert(100%);

}

.textarea {
    display: flex;
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* CHECKBOX */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }