.edit {
    background-image: url(/src/Buttons/pencil.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    color: transparent;
    border: none;
    background-color: transparent;
    width: 1em;
}

.del {
    background-image: url(/src/Buttons/trash.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    font-size: 2rem;
    color: transparent;
    border: none;
    background-color: transparent;
    width: 1em;
}

.save {
    background-image: url(/src/Buttons/save.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    font-size: 2rem;
    color: transparent;
    border: none;
    background-color: transparent;
    width: 1em;

}

.textarea {
    display:flex;
    height: 4rem
    overflow: hidden;
    text-overflow: ellipsis;
}