/* tiny reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}





/* body */
body {
  background: #4d244e;
  font-family: sans-serif;
  border-top: 5px solid #aa8e8d;
  background-repeat: no-repeat;
  background-size:100%;
}

#title {
  font-size: 6rem;
  color: #ffdfdb;
}

/* ListELEMENTS */
.list-unstyled {
  display: flexbox;
}

ul span {
  overflow: auto;
  word-wrap: break-word;
}

li {
  color: beige;
  font-size: 2rem;
}

main li::marker {
  content: '✝ ';
  font-size: 1.2em;
}

li img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.show {
  display: flex;

}


input:focus::placeholder {
  color: transparent;
}


/* TASKBAR */
.taskBar {
  display: flex;
}


/* CHECKMARK */


.containerMark {
  display: flex;
  gap: 2rem;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  height: 2rem;
  width: 2rem;
}

/* On mouse-over, add a grey background color */
.containerMark:hover input~.checkmark {
  background-color: #ccc;
}