/* tiny reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}





/* body */
body {
  background: #4d244e;
  font-family: sans-serif;
  border-top: 5px solid #aa8e8d;
  background-repeat: no-repeat;
  background-size:100%;
}

#title {
  font-size: 6rem;
  color: #ffdfdb;
}


li img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.show {
  display: flex;

}


input:focus::placeholder {
  color: transparent;
}

.centerdProgress{
  display: flex;
  justify-content: center;
}