/* TASKBAR */
.taskBar {
    display: flex;
}



/* ListELEMENTS */
.list-unstyled {
    display: flex;
    align-items: center;
    flex-flow: column;
}


ul span {
    overflow: auto;
    word-wrap: break-word;
}

li {
    display: flex;
    gap: 2rem;
    color: beige;
    font-size: 2rem;
    padding: 0.25rem;
}


main li::marker {
    content: '✝ ';
    font-size: 1.2em;
}

/* INPUT FIELD FROM TASK LIST */

li input:disabled{
    background-color:transparent;
    color: #ffdfdb;
    border-color: transparent;
}

/* CHECKMARK */


.containerMark {
    display: flex;
    gap: 2rem;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    height: 2rem;
    width: 2rem;
}

/* On mouse-over, add a grey background color */
.containerMark:hover input~.checkmark {
    background-color: #ccc;
}

#submit {
    filter: brightness(4);
}

#submit:hover {
    filter: brightness(2);
}

/* INPUTBAR */

input:focus::placeholder {
    color: transparent;
}

.task {}