/* TASKBAR */
.taskBar {
    display: flex;
}

/* task input and submit button container */
#form {
    padding-bottom: 2rem;
}



/* ListELEMENTS */
.list-unstyled {
    display: flex;
    align-items: center;
    flex-flow: column;
}


ul span {
    overflow: auto;
    word-wrap: break-word;
}

.list-unstyled li {
    display: flex;
    gap: 2rem;
    color: beige;
    font-size: 2rem;
    align-items: baseline;
}


main li::marker {
    content: '✝ ';
    font-size: 1.2em;
}

/* INPUT FIELD FROM TASK LIST */

li textarea:disabled {
    background-color: transparent;
    color: #ffdfdb;
    border-color: transparent;
}

/* CHECKMARK */



#submit {
}

#submit:hover {
    filter: invert(100%);
}

/* INPUTBAR */
#form {
    gap: 1rem
}

input:focus::placeholder {
    color: transparent;
}